.description > p > img {
    max-width: 100%;
    border: 1px solid gray;
}

.description > p {
    max-width: 100%;
    word-wrap: break-word;
}

.description > iframe {
    max-width: 100%;
    margin-top: 5px;
}